{% extends 'adminpages/admin_base.html' %}

{% block content %}
<hr>

<hr>

<hr>

<div class="row">

<table class="table col-md-6 ml-4 border-right">

    <thead class="top-colour">
        <tr>
            <th>Total</th>
            <th>Customer</th>
            <th>Date Ordered</th>
            <th>Product </th>
            <th>Quantity</th>
            <th>Update</th>
            <th>Delete</th>

        </tr>
    </thead>

    {% for order in qs %}
                    <tr>

                        <td>{{forloop.counter}}</td>
                        <td>{{order.order.customer}}</td>
                        <td>{{order.order.date_ordered}}</td>
                        <td>{{order.product}}</td>
                        <td>{{order.quantity}}</td>
                        <td><a class="btn btn-sm btn-dark" href="{% url 'update_order' order.order.id %}">Update</a></td>
                        <td><a class="btn btn-sm btn-danger" href="{% url 'delete_order' order.order.id %}">Delete</a></td>




                    </tr>
    {% endfor %}

</table>

</div>
<a class="btn btn-sm btn-dark" href="{% url 'export' %}">Export to csv</a></td>
{% endblock content %}