{% extends 'adminpages/admin_base.html' %}

{% block content %}
{% load widget_tweaks %}


<hr>

<hr>
<div class="row">
	<div class="col-md-6">
		<div class="card card-body">
		<div class='card card-title'>
			<p>Product: {{qs.product}}</p>
		</div>
			<form action="" method="POST">
            	{% csrf_token %}
				{% for field in form %}
					{{field.label}}
					{{field|add_class:'form-control'}}
				
				{% endfor %}
				<hr>
				<input type="submit" class="btn btn-info">
			</form>
		</div>
	</div>

		<br>
	<div class="col-md-6">
		<div class="card card-body">
		<table>
		<tr>
		<th>Customer </th>
		<th> Email </th>
		<th>City</th>
		<th>State</th>
		<th>Zipcode</th>
		</tr>

		<tr>
			<td>{{shipping.customer}}</td>
			<td>{{shipping.customer.email}}</td>
			<td> {{shipping.city}}</td>
			<td> {{shipping.state}}</td>
			<td>{{shipping.zipcode}}</td>

		</tr>
		</table>
		</div>
	</div>

</div>

{% endblock content %}