{% extends 'adminpages/admin_base.html' %}

{% block content %}


<hr>

<hr>



<table class="table">

    <thead class="top-colour">
        <tr>
            <th>Total</th>
            <th>Name</th>
            <th>Price</th>
            <th>Digital </th>
            <th>Update</th>
            <th>Remove</th>
        </tr>
    </thead>

    {% for product in products %}
                    <tr>

                        <td>{{forloop.counter}}</td>
                        <td>{{product.name}}</td>
                        <td>{{product.price}}</td>
                        <td>{{product.digital}}</td>
                        <td><a class="btn btn-sm btn-dark" href="{% url 'update_product' product.id %}">Update</a></td>
                        <td><a class="btn btn-sm top-colour" href="{% url 'delete_product' product.id %}">Delete</a></td>


                    </tr>
    {% endfor %}

</table>

{% endblock %}