{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header bg-dark text-white">Edit Site Properties</h5>
    <div class="card-body  text-black">
        <p class="card-text ">Main Carousel </p>
        <p class="card-text "Page Footer </p>
        <p class="card-text ">About Us Page </p>



        <a href="#"
           class="btn btn-danger">Know more!</a>


    </div>
</div>
</div>

{% endblock sidebar %}

