{% extends 'store/blog_base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
{% comment %} 
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div> {% endcomment %}


 <style>
.parallax {
  /* The image used */
  background-image: url('/static/images/background1.jpg');

  /* Set a specific height */
  height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
{% block header %}{% include 'store/header.html' %} {% endblock header%}
    

    <!-- Hero Section Begin -->
    <section class="hero-section ">
        <div class="hero-items owl-carousel">

         
            <div class="single-hero-items set-bg" data-setbg="{% static 'images/mac1.jpg'%}" style="width: 100%; height:100%; background-position:center; background-size:cover;">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <span>Laptops</span>
                            <h1 class="text-white">Apple Laptops</h1>
                            <p class="text-white">Shop now for the best deals on Macs and iPhones!</p>
                            <a href="#" class="primary-btn">Shop Now</a>
                        </div>
                    </div>
                    <div class="off-card">
                        <h2>New Arrivals <span></span></h2>
                    </div>
                </div>
            </div>

           <div class="single-hero-items set-bg break" data-setbg="{% static 'images/iphone10dark.jpg'%}" style="width: 100%; height:100%; background-position:center; background-size:cover;">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <span>Phones</span>
                            <h1 style="color:#4E4E4E">Good deals on iPhones!</h1>
                            <p style="color:#4E4E4E">We sell wholesale laptops and phones</p>
                            <a href="{% url 'store' %}" class="primary-btn">Shop Now</a>
                            
                        </div>
                    </div>
                    <div class="off-card">
                        <h2>Sale <span>50%</span></h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
<br>
    <!-- Hero Section End -->

    <!-- Banner Section Begin 
    <div class="banner-section spad">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4">
                    <div class="single-banner">
                        <img src="{% static 'images/features1.jpg' %}" alt="">
                        <div class="inner-text">
                            <h4>Men’s</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-banner">
                        <img src="{% static 'images/features2.jpg'%}" alt="">
                        <div class="inner-text">
                            <h4>Women’s</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-banner">
                        <img src="{% static 'images/features6.jpg'%}" alt="">
                        <div class="inner-text">
                            <h4>Kid’s</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    -->
    <!-- Banner Section End -->

    <!-- Women Banner Section Begin -->
<div class="parallax">
    <div class="filter-control">
        <ul>
            <li class="active">Featured Deals</li>
            
        </ul>
    </div>  
<div class="row">
    <div class="app__row ">

    {% for product in fake_product %}
        <h1>{{product.title}}</h1>
    {% endfor %}
        <div class="row__posters">
            {% for product in featured %}
            <a href="{% url 'detail' slug=product.slug %}">
            <img class="row__poster row__posterLarge" src="{{product.image.url}}">
            </a>
            {% endfor %}


        </div>

    </div>
</div>
<hr>
    <section class=" container women-banner spad">
        <div class="container-fluid">
            <div class="row">
            
        {% comment %} <div class="app__top">
            <div class="card__accesories" >
                <img src="{% static 'images/binoculars.jpg'%}">
                <h2> Accessories!</h2>
                <a class="btn btn-outline-dark">Discover More!</a>
                <hr>
            </div> {% endcomment %}
            
                {% comment %} <div class="col-lg-3 col-sm-3">
                    <div class="product-large set-bg " data-setbg="{% static 'images/binoculars.jpg'%}">
                        <h2>Accessories</h2>
                        <a href="#">Discover More</a>
                    </div>
                </div> {% endcomment %}

                
                {% comment %} <div class="col-lg-8 col-md-4  offset-lg-1">
                    <div class="filter-control">
                        <ul>
                            <li class="active">Featured</li>
                            
                        </ul>
                    </div>
                    <div class="product-slider owl-carousel">
                    {% for product in products %}
                        <div class="product-item">
                            <div class="pi-pic">
                                <img src="{{product.image.url}}" alt="">
                                <div class="sale">Sale</div>
                                <div class="icon">
                                    <i class="icon_heart_alt"></i>
                                </div>
                                <ul>
                                    <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                    <li class="quick-view"><a href="{% url 'detail' slug=product.slug %}">+ Quick View</a></li>
                                    <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>

                                </ul>
                            </div>
                            <div class="pi-text">
                                <div class="catagory-name">{{product.category}}</div>
                                <a href="#">
                                    <h5>{{product.name}}</h5>
                                </a>
                                <div class="product-price">
                                    ${{product.price}}
                                    <span>$35.00</span>
                                </div>
                                <button data-product ={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart"> Add to Cart</button>

                            </div>
                        </div>
                    {% endfor %}


                        
                    </div>

                    
                </div> {% endcomment %}
<hr>
{% comment %} <div class="row">
    {% for product in products %}
    <div class="card__home">
        <img src="{{product.image.url}}">
            <div class="card__info">
                <h2> {{product.name}}</h2>
                <h4>{{product.description}} </h4>
                <h3> ${{product.price}}</h3>
            </div>
    </div>

    {% endfor %}

</div> {% endcomment %}
            <div class="the_products">
                <div class="product-list ">
                        <div class="row">
                        {% for product in products %}
                            <div class="col-6 col-md-4 ">
                                <div class="product-item">
                                
                                    <div class="pi-pic">
                                    <a href="{% url 'detail' slug=product.slug %}">
                                        <img src="{{product.image.url}}" alt="">
                                    </a>
                                        <div class="sale pp-sale">Sale</div>
                                        <div class="icon">
                                            <i class="icon_heart_alt"></i>
                                        </div>
                                        <ul>
                                            <li class="w-icon active"><a href="{% url 'cart' %}"><i class="icon_bag_alt"></i></a></li>
                                           <!-- <li class="quick-view"><a href="{% url 'detail' slug=product.slug %}">+ Quick View</a></li>-->
                                            <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                                        </ul>                                            

                                    </div>
                                    <div class="pi-text">
                                        <div class="catagory-name">Deal</div>
                                            <h5>{{product.name}}</h5>
                                            <br>
                                            <p>{{product.short_description}}</p>

                                            <button data-product ={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart" style="margin-bottom:10px;"> Add to Cart</button>
                                            {% if user.is_authenticated%}
                                                {% if user.id == product.created_by.id%}
                                                <a class="btn btn-outline-success" style="border-radius:10px; margin-bottom:10px; margin-top:10px;" href="{% url 'update_product' product.id %}">Edit</a>
                                                    <a class="btn btn-outline-danger" style="border-radius:10px;"href = "{% url 'delete_product' product.id %}"> Delete </a>
                                                {% endif %}
                                            {% endif %}

                                        <a href="#">
                                            <h5>{{products.name}}</h5>
                                        </a>
                                        <div class="product-price">
                                            Ksh {{product.price |intcomma}}
                                            <span>Ksh35.00</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>

            </div>
        </div>

    </section>


    <!-- Women Banner Section End -->

    <!-- Deal Of The Week Section Begin
    <section class="deal-of-week set-bg spad" data-setbg="{% static 'images/time-bg.jpg'%}" style="">
        <div class="container">
            <div class="col-lg-6 text-center">
                <div class="section-title">
                    <h2>Deal Of The Week</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed<br /> do ipsum dolor sit amet,
                        consectetur adipisicing elit </p>
                    <div class="product-price">
                        $35.00
                        <span>/ HandBag</span>
                    </div>
                </div>
                <div class="countdown-timer" id="countdown">
                    <div class="cd-item">
                        <span>31</span>
                        <p>Dayss</p>
                    </div>
                    <div class="cd-item">
                        <span>12</span>
                        <p>Hours</p>
                    </div>
                    <div class="cd-item">
                        <span>40</span>
                        <p>Mins</p>
                    </div>
                    <div class="cd-item">
                        <span>52</span>
                        <p>Secs</p>
                    </div>
                </div>
                <a href="#" class="primary-btn">Shop Now</a>
            </div>
        </div>
    </section>
    -->
    <!-- Deal Of The Week Section End -->

    <!-- Man Banner Section Begin -->
    {% comment %} <section class="man-banner spad">
        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-8">
                    <div class="parallax product-slider owl-carousel">
                        <div class="product-item">
                            <div class="pi-pic">
                                <img src="{% static 'images/iphonex.jpg'%}" alt="">
                                <div class="sale">Sale</div>
                                <div class="icon">
                                    <i class="icon_heart_alt"></i>
                                </div>
                                <ul>
                                    <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                    <li class="quick-view"><a href="#">+ Quick View</a></li>
                                    <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                                </ul>
                            </div>
                            <div class="pi-text">
                                <div class="catagory-name">Coat</div>
                                <a href="#">
                                    <h5>{{product.name}}</h5>
                                </a>
                                <div class="product-price">
                                {{product.price}}
                                    <span>Kshs50,000</span>
                                </div>
                            </div>
                        </div>
                       
                      
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 offset-lg-1">
                    <div class="product-large set-bg m-large" data-setbg="{% static 'images/sunglasses.jpg'%}">
                        <h2>Merch</h2>
                        <a href="#">Merch</a>
                    </div>
                </div>
            </div>
        </div>
    </section> {% endcomment %}
    <!-- Man Banner Section End -->

    <!-- Instagram Section Begin -->
    <div class="insta-section">
        <div class="instagram-photo">
            <div class="insta-item set-bg col-md-2" data-setbg="{% static 'images/mac2020.png'%}">
                <div class="inside-text">
                    <i class="ti-instagram"></i>
                    <h5><a href="#">lynam_computers</a></h5>
                </div>
            </div>
            <div class="insta-item set-bg" data-setbg="{% static 'images/iphonexs.png'%}">
                <div class="inside-text">
                    <i class="ti-instagram"></i>
                    <h5><a href="#">lynam_computers</a></h5>
                </div>
            </div>
            <div class="insta-item set-bg" data-setbg="{% static 'images/allinone.png'%}">
                <div class="inside-text">
                    <i class="ti-instagram"></i>
                    <h5><a href="#">lynam_computers</a></h5>
                </div>
            </div>
            <div class="insta-item set-bg" data-setbg="{% static 'images/lenovo_yoga.png'%}">
                <div class="inside-text">
                    <i class="ti-instagram"></i>
                    <h5><a href="#">lynam_computers</a></h5>
                </div>
            </div>
            <div class="insta-item set-bg" data-setbg="{% static 'images/iphonex.jpg'%}">
                <div class="inside-text">
                    <i class="ti-instagram"></i>
                    <h5><a href="#">lynam_computers</a></h5>
                </div>
            </div>
            <div class="insta-item set-bg" data-setbg="{% static 'images/lotsaphones.png'%}">
                <div class="inside-text">
                    <i class="ti-instagram"></i>
                    <h5><a href="#">lynam_computers</a></h5>
                </div>
            </div>
        </div>
    </div>
    <!-- Instagram Section End -->

    <!-- Latest Blog Section Begin -->

    {% comment %} BLOG SECTION IMPORTANT! {% endcomment %}
    {% comment %} <section class="latest-blog spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>From The Blog</h2>
                    </div>
                </div>
            </div>
            <div class="row">
            {% for article in articles %}
                <div class="col-lg-4 col-md-6">
                    <div class="single-latest-blog">
                    <a href="{% url 'article_details' slug=article.slug%}">
                        <img src="{{article.thumb.url}}" alt="">
                    </a>
                        <div class="latest-text">
                            <div class="tag-list">
                                <div class="tag-item">
                                    <i class="fa fa-calendar-o"></i>
                                    {{article.date}}
                                </div>
                                <div class="tag-item">
                                    <i class="fa fa-comment-o"></i>
                                    
                                </div>
                            </div>
                            <a href="{% url 'article_details' slug=article.slug%}">
                                <h4>{{article.title}}</h4>
                            </a>
                            <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
               
            </div>
            <!--
            <div class="benefit-items">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="single-benefit">
                            <div class="sb-icon">
                                <img src="img/icon-1.png" alt="">
                            </div>
                            <div class="sb-text">
                                <h6>Free Shipping</h6>
                                <p>For all order over 99$</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-benefit">
                            <div class="sb-icon">
                                <img src="img/icon-2.png" alt="">
                            </div>
                            <div class="sb-text">
                                <h6>Delivery On Time</h6>
                                <p>If good have prolems</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-benefit">
                            <div class="sb-icon">
                                <img src="img/icon-1.png" alt="">
                            </div>
                            <div class="sb-text">
                                <h6>Secure Payment</h6>
                                <p>100% secure payment</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            -->
        </div>
    </section> {% endcomment %}
    <!-- Latest Blog Section End -->

    <!-- Partner Logo Section Begin -->
    <div class="partner-logo">
        <div class="container">
            <div class="logo-carousel owl-carousel">
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-1.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-2.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-3.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-4.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-5.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Partner Logo Section End -->
    <div class="the__footer">
{% block footer %} {% include 'store/footer_block.html'%} {% endblock footer %}
</div>

    {% endblock content %}
</div>
   
    
    <!-- Footer Section End -->
    <!-- Js Plugins -->


