{% block footer %}
{% load widget_tweaks %}

    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                  <div class="map-wrapper  col-md-6">
                <div class="google-map"><iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCZI5F_k6S1k46ujh0SNrapM89f7mJxd30&amp;q=Imenti house kenya" allowfullscreen=""></iframe></div>
            </div>
                    <div class="footer-left">
                        <div class="footer-logo">
                            <a href="#"><img src="img/footer-logo.png" alt=""></a>
                        </div>
                        <ul>
                            <li>Address: Midway Mall Opposite Imenti House</li>
                            <li>Phone:  +254708835133</li>
                            <li>Email: lynam_computers@gmail.com</li>
                        </ul>
                        <div class="footer-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>

                </div>
            <div class="col-lg-2 ">
                    <div class="footer-widget">
                        <h5>Information</h5>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Checkout</a></li>
                            <li><a href="#">Contact</a></li>
                            {% if user.is_authenticated %}
                                <li><a href="{% url 'admin_home' %}">Admin</a></li>
                                {% else %}
                                    <li><a href="{% url 'admin_home' %}">Admin</a></li>

                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="newsletter-item">
                        <h5 class="text-white">Have any questions?</h5>
                        <p class="text-white">Feel free to contact us below. We look forward to hearing from you</p>
            <div class="newsletter__formcontainer">
                <form action="{% url 'newsletter' %}" method="POST">
                    {% csrf_token %}
                        {% for field in form %}
                            <p class="text-white">{{field.label}}<p>
                            {{field|add_class:'form-control'}}
                        {% endfor %}
                    <hr>
                    <input type="submit" class="btn btn-info">
			    </form>
            </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-reserved">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="copyright-text">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made by <a href="https://colorlib.com" target="_blank">Colorlib(JS and HTML) and Lawe Sosah using Django:)</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </div>
                        <div class="payment-pic">
                            <img src="img/payment-method.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

{% endblock footer%}