{% load static %}
{% block header %}
<!-- Header Section Begin -->
    <header class="header-section">
        <div class="header-top">
            <div class="container">
                <div class="ht-left">
                    <div class="mail-service">
                        <i class=" fa fa-envelope"></i>
                        sosahlawe@gmail.com
                    </div>
                    <div class="phone-service">
                        <i class=" fa fa-phone"></i>
                        +65 11.188.888
                    </div>
                </div>
                <div class="ht-right">
                {% if user.is_authenticated %}

                    <a href="{% url 'accounts:logout' %}" class="login-panel "><i class="fa fa-user"></i>Signout</a>
                    {% else %}
                        <a href="{% url 'accounts:login' %}" class="login-panel "><i class="fa fa-user"></i>Login</a>

                {% endif %}
                    <div class="lan-selector">
                        <select class="language_drop" name="countries" id="countries" style="width:300px;">
                            <option value='yt' data-image="{% static 'images/flag-1.jpg'%}" data-imagecss="flag yt"
                                data-title="English">English</option>
                            <option value='yu' data-image="img/flag-2.jpg" data-imagecss="flag yu"
                                data-title="Bangladesh">German </option>
                        </select>
                    </div>
                    <div class="top-social">
                        <a href="#"><i class="ti-facebook"></i></a>
                        <a href="#"><i class="ti-twitter-alt"></i></a>
                        <a href="#"><i class="ti-linkedin"></i></a>
                        <a href="#"><i class="ti-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container">
        
            <div class="inner-header">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 ">
                        <div class="logo">
                            <a href="{% url 'store' %}">
                            <img src="{% static 'images/logo_lawe.png'%}" style="height:100px; width:auto; border-radius:50%;">
                            </a>
                        </div>
                    </div>


       
            

                    <div class="col-lg-7 col-md-7">
                        <div class="advanced-search">
                            <button type="button" class="category-btn">All Categories</button>
                            <form class="#" action="{% url 'search'%}" method="GET">

                            <div class="input-group">
                                <input name="keyword" class="form-control mr-sm-2 col-sm-4" type="search" placeholder="Search the store" aria-label="Search" required>
                                <button class="button" type="submit">
                                <i class="ti-search"></i>
                                </button>
                            </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-3 text-right col-md-3">
                        <ul class="nav-right">
                            <li class="heart-icon">
                                <a href="#">
                                    <i class="icon_heart_alt"></i>
                                    <span>1</span>
                                </a>
                            </li>
                            <li class="cart-icon">
                                <a href="#">
                                    <i class="icon_bag_alt"></i>
                                    <span>{{order.get_cart_items}}</span>
                                </a>
                                <div class="cart-hover">
                                    <div class="select-items">
                                        <table>
                                            <tbody>

                                            {% for item in items %}
                                                <tr>
                                                    <td class="si-pic"><img src="{{item.product.imageURL}}" alt=""></td>
                                                    <td class="si-text">
                                                        <div class="product-selected">
                                                            <p>${{item.product.price}} x{{item.quantity}}</p>
                                                            <h6>{{item.product.name}}</h6>
                                                        </div>
                                                    </td>
                                                    <td class="si-close">
                                                        <i class="ti-close"></i>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="select-total">
                                        <span>total:</span>
                                        <h5>${{order.get_cart_total}}</h5>
                                    </div>
                                    <div class="select-button">
                                        <a href="{% url 'cart' %}" class="primary-btn view-card">CART PAGE</a>
                                        <a href="{% url 'checkout' %}" class="primary-btn checkout-btn">CHECK OUT</a>
                                    </div>
                                </div>
                            </li>
                            <li class="cart-price">${{order.get_cart_total}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="nav-item">
            <div class="container">
                <div class="nav-depart">
                    <div class="depart-btn">
                        <i class="ti-menu"></i>
                        <span>All categories</span>
                        <ul class="depart-hover">
                        {% for category in category %}
                            <li class=""><a href="{% url 'category' category.id %}">{{category.title}}</a></li>
                            
                        {% endfor %}
                        </ul>
                    </div>
                </div>
                <nav class="nav-menu mobile-menu">
                    <ul>
                        <li class="active"><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'store' %}">Shop</a></li>
                        <li><a href="#">Collection</a>
                            <ul class="dropdown">
                                <li><a href="#">Indoor</a></li>
                                <li><a href="#">Outdoor</a></li>
                                <li><a href="#">Gen</a></li>
                            </ul>
                        </li>
                        <li class="active"><a href="{% url 'list' %}">Blog</a></li>
                        <li><a href="{% url 'newsletter'%}">Contact</a></li>
                        <li><a href="#">Pages</a>
                            <ul class="dropdown">
                                <li><a href="./blog-details.html">Blog Details</a></li>
                                <li><a href="./shopping-cart.html">Shopping Cart</a></li>
                                <li><a href="./check-out.html">Checkout</a></li>
                                <li><a href="./faq.html">Faq</a></li>
                                <li><a href="./register.html">Register</a></li>
                                <li><a href="./login.html">Login</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <div id="mobile-menu-wrap"></div>
            </div>
        </div>
    </header>
    <!-- Header End -->

    {% endblock header %}