{% extends 'store/blog_base.html' %}

{% load static %}
{% load humanize %}
{% block content %}
{% block header %}{% include 'store/header.html' %}{% endblock header %}


    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <a href="#"><i class="fa fa-home"></i> Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section Begin -->

    <!-- Product Shop Section Begin -->
    <section class="product-shop spad ">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-8 order-2 order-lg-1 produts-sidebar-filter">
                    <div class="filter-widget">
                        <h4 class="fw-title">Categories</h4>
                        <ul class="filter-catagories">
                        {% for category in category %}
                            <li><a href="{% url 'category' category.id %}">{{category.title}}</a></li>
                        {% endfor %}
                            
                        </ul>
                    </div>
                    
                    <hr>
                    <div class="filter-widget">
                        <p> <strong>Interested in a new device? Contact us on 0708835133 </strong> </p>
                        <p>We do  free delivery within Nairobi!</p>
                    </div>
                    <hr>
                    <div class="filter-widget">
                        <h4 class="fw-title">Tags</h4>
                        <div class="fw-tags">
                            <a href="/product_details/macbook-pro-1">Apple</a>
                            <a href="/product_details/lenovo-yoga">Computers</a>
                            <a href="product_details/i-phone6s">Phones</a>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 order-1 order-lg-2">
                    
                    <div class="the_products">
                <div class="product-list ">
                        <div class="row">
                        {% for product in products %}
                            <div class="col-6 col-md-4 ">
                                <div class="product-item">
                                
                                    <div class="pi-pic">
                                    <a href="{% url 'detail' slug=product.slug %}">
                                        <img src="{{product.image.url}}" alt="">
                                    </a>
                                        <div class="sale pp-sale">Sale</div>
                                        <div class="icon">
                                            <i class="icon_heart_alt"></i>
                                        </div>
                                        <ul>
                                            <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                           <!-- <li class="quick-view"><a href="{% url 'detail' slug=product.slug %}">+ Quick View</a></li>-->
                                            <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                                        </ul>                                            

                                    </div>
                                    <div class="pi-text">
                                        <div class="catagory-name">Deal</div>
                                            <h5>{{product.name}}</h5>
                                            <br>
                                            <p>{{product.short_description}}</p>
                                            <button data-product ={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart"> Add to Cart</button>
                                             {% if user.is_authenticated%}
                                                {% if user.id == product.created_by.id%}
                                                <a class="btn btn-outline-success" style="border-radius:10px; margin-bottom:10px; margin-top:10px;" href="{% url 'update_product' product.id %}">Edit</a>
                                                    <a class="btn btn-outline-danger" style="border-radius:10px;"href = "{% url 'delete_product' product.id %}"> Delete </a>
                                                {% endif %}
                                            {% endif %}

                                        <a href="#">
                                            <h5>{{products.name}}</h5>
                                        </a>
                                        <div class="product-price">
                                           Ksh {{product.price |intcomma}}
                                        </div>
                                    </div>

                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>

            </div>
                    {% comment %} <div class="loading-more">
                        <i class="icon_loading"></i>
                        <a href="#">
                            Loading More
                        </a>
                    </div> {% endcomment %}
                </div>
            </div>
        </div>
    </section>
    <!-- Product Shop Section End -->

    <!-- Partner Logo Section Begin -->
    <div class="partner-logo">
        <div class="container">
            <div class="logo-carousel owl-carousel">
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-1.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-2.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-3.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-4.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-5.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Partner Logo Section End -->
{% block footer %} {% include 'store/footer_block.html' %}{% endblock footer %}

{% endblock content %}
